.section-carousel {
  width: 100%;
  background: #f9f9f9;

  .swiper-container {
    width: 100%;
  }

  .slide-wrapper {
    position: relative;
    width: 100%;
    height: 80vh;
    margin: 0 auto;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);

    @media (max-width: 500px) {
        height: 60vh;
      }
  }

  .slide-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
    transition: transform 0.5s ease;
  }

  .slide-wrapper:hover .slide-image {
    transform: scale(1.05);
  }

  .slide-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    padding: 0 20px;

    @media (max-width: 500px) {
        padding: 0;
      }

    h2 {
      font-size: 2.5rem;
      margin-bottom: 10px;

      @media (max-width: 500px) {
        font-size: 2rem;
      }
    }

    p {
      font-size: 1.2rem;

      @media (max-width: 500px) {
        font-size: 1rem;
      }
    }
  }

  // Swiper arrows customization (optional)
  .swiper-button-prev,
  .swiper-button-next {
    color: #fff;
    transition: all 0.3s;
  }

  .swiper-button-prev:hover,
  .swiper-button-next:hover {
    transform: scale(1.2);
  }

  .swiper-pagination-bullet {
    background: white;
    opacity: 0.7;
  }

  .swiper-pagination-bullet-active {
    background: #007bff;
    opacity: 1;
  }
}
